.contenedor-perfil {
  width: 1170px;
  height: 368px;
  margin: 10px 10px 50px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 3px 3px 13px 1px rgb(0 0 0 / 15%);
  transition: all .3s ease;
}

.contenedor-perfil:hover {
  transform: scale(1.02);
  transition: all .3s ease;
}

.imagen-perfil {
  height: 100%;
  width: auto;
  border: none;
  border-radius: 20px 0 0 20px;
}

.contenedor-texto-perfil {
  text-align: center;
  padding: 40px;
  font-family: Lato,sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.nombre-perfil {
  font-size: 1.5rem;
}

.cargo-perfil {
  font-size: 1.4rem;
  margin-top: 15px;
  padding-bottom: 30px;
}

.texto-perfil {
  font-size: 1.1rem;
  text-align: justify;
}

@media screen and (max-width:1160px) {
  .contenedor-perfil {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    transition: .5s ease;
  }

  .imagen-perfil {
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
}